.header-text {
  text-align: center;
  width: 60%;
  font-size: 25px;
  color: #0ff;
  font-family: 'Roboto', sans-serif;
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, rgba(250, 0, 255, 1), rgba(0, 255, 255, 1));
  border-radius: 20px;
  padding: 1%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff;
  transition: box-shadow 0.3s ease;
  margin: auto auto 10px;
}

.header-text:hover {
  box-shadow: 0 0 15px #0ff, 0 0 25px #0ff, 0 0 35px #0ff;
  color: rgba(250, 0, 255, 1);
  background-color: rgba(0, 255, 255, 1);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: .8;
  }
}

.header-text:hover {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.header-el {
  padding-left: 10px;
  padding-right: 10px;
}
