@tailwind base;
@tailwind components;
@tailwind utilities;

.resultsTable {
  @media (min-width: 1211px) {
    width: 75%;
  }

  @media (min-width: 746px) and (max-width: 1210px) {
    width: 60%;
  }

  @media (max-width: 745px) {
    width: 40%;
  }

  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 2% auto;

}

.new-cell, .result-cell-in, .result-cell-out{
  text-align: left;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  font-size: 16px;
}

.result-cell-in, .result-cell-out {
  font-weight: bold;
  font-size: 17px;
}

.result-cell-in{
  color: green;
}

.result-cell-out{
  color: red;
}



.resultsTable tr th:first-child {
  border-radius: 20px 0 0 0;
}

.resultsTable tr th:last-child {
  border-radius: 0 20px 0 0;
}

.resultsTable tr th:not(:first-child):not(:last-child) {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}


.resultsTable td, th {
  text-align: left;
  padding: 8px;
}


.resultsTable tr:hover {
  background-color: #f5f5f5;
}



.resultsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

